{{! Display a single markdown page}}

{{format-markdown model.page_content}}

<p class="docmeta">
  Source:
  {{#if model.isInternal}}
    <!-- markdownBrauser internal/integrated page -->
    <a href="{{model.file_name}}">{{model.file_name}}</a>
    (part of markdownBrauser)
  {{else}}
    <a href="{{markdownPath}}/{{model.id}}">{{model.id}}</a>
  {{/if}}
    |
  Modified by {{model.page.git_username}} on
  {{moment-format model.page.git_modified "MMMM Do YYYY" "X"}}
    |
  Log message: {{model.page.git_message}}
  <i class="non-printing pointer" {{action "zapMeta"}}>| zap!</i>
</p>

<!-- FIXME
footer should be fixed at bottom, at least for print?
-->
